body{
    width: 1280px;
    font-weight: 400;
    margin: 30px auto;
    font-family: "Myriad Pro";
}
body a{
    text-decoration: none;
}
.header{
    font-size: 80px;
}
.first-part-logo{
    color:  #000000
}
.second-part-logo{
    color:  #4bcaff;
}
.menu-top{
    margin-top: 50px;
    height: 69px;
    background-color:  #35444f;
    text-align: center;
}
.menu-top a{
    display: inline-block;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 400;
    padding-left: 41px;
    padding-right: 41px;
    line-height: 70px;
    border-left: 1px solid #35444f;
    border-right: 1px solid #35444f;
}
.menu-top a:hover{
    background-color:  #222f3a;
    border-left: 1px solid #7f7f7f;
    border-right: 1px solid #7f7f7f;
}
.main{
    margin-top: 51px;
}
.menu-left{
    float: left;
    width: 344px;
    border: 1px solid black;
}
.menu-left ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu-left a{
    text-decoration: none;
    color:  #485863;
    font-size: 26.99px;
    font-weight: 400;
    line-height: 88.867px;
    text-align: left;
    padding-left: 44px;
}
.menu-left a:hover{
    display: block;
    font-family: 'Myriad Pro';
    color:  #000000;
    font-size: 26.99px;
    font-weight: 400;
    line-height: 88.867px;
    text-align: left;
    background-color: #d9d9d9;
    border-left: 1px solid black;
    padding-left: 69px;

}
.article{
    float: right;
    width: 885px;
}
.ramda {
    height: 529px;
    border: 1px solid black;
}
.ramda img{
    display: block;
    width: 320px;
    height: 381px;
    margin: 74px auto;
}
.ramda img:hover{
    transform: scale(1.2);
    transition-duration: 0.9s;
}
.text{
    margin: 50px 30px;
    color:  #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.clear{
    clear: both;
}
.menu-bottom{
    height: 69px;
    background-color: #b3b6b9; 
}
.menu-bottom ul{
    display: inline;
}
.menu-bottom li{
    display: inline;
    margin-left: 15px;
}
.menu-bottom a{
    color:  #0c1927;
    font-size: 28px;
    font-weight: 400;
    line-height: 70px;
    text-align: left;
}
.menu-bottom a:hover{
    text-decoration: underline;
    color:  #3181a6;
    font-size: 28px;
    font-weight: 400;
    line-height: 70px; 
    text-align: left;
}
.copy{
    color:  #010000;
    font-size: 24px;
    font-weight: 400;
    line-height: 70px;
    margin-left: 215px;
}


